.btn {
    @apply select-none px-4 py-2 text-sm rounded-md inline-flex items-center justify-center outline-none cursor-pointer
    transition duration-200 ease-in-out bg-transparent whitespace-nowrap focus:outline-none;
    &:disabled {
        @apply opacity-60;
    }
    &.lg{
        height: 58px;
        @apply text-xl rounded-xl;
    }
    &.md{
        height: 42px;
        border-radius: 10px;
        @apply text-sm px-3;
    }
    &.btn_default{
        @apply text-white bg-green_2;
        &.disabled {
            @apply bg-gray_4 opacity-100 pointer-events-none;
        }
        font-weight: 400;
        &:hover{
            @apply bg-opacity-80;
        }
    }
    &.btn_connect{
        @apply text-white font-bold bg-green_1;
    }
}
