.menu-item{
    @apply h-7 w-full flex items-center text-sm text-black rounded-lg px-2 transition duration-200 hover:bg-black
    hover:bg-opacity-5;
    &.active{
        @apply relative bg-black bg-opacity-5;
        &:before{
            content: '';
            @apply absolute left-0 w-1 h-4 rounded-md bg-black;
        }
        .icon-arrow {
            @apply opacity-0;
        }
    }
}

#dashboard-chart{
    @apply h-[18rem];
}
.highcharts-credits{
    @apply hidden;
}

.user-msg_edit{
    opacity: 0;
    &:hover {
        opacity: 1 !important;
    }
}
.user-msg{
    &:hover {
        .user-msg_edit {
            opacity: 0.8;
        }
    }
}

.one-app{
    background: rgba(217, 228, 239, 0.60);
}

.load-message {
    @apply flex items-center mt-1.5;
}

.dot {
    @apply bg-black bg-opacity-40 w-2 h-2 rounded-full;
    margin: 0 5px;
    animation: pulse 1s infinite;
}

.dot1 {
    animation-delay: 0s;
}
.dot2 {
    animation-delay: 0.2s;
}
.dot3 {
    animation-delay: 0.4s;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        @apply bg-black bg-opacity-80;
        transform: scale(1.3);
    }
    100% {
        transform: scale(1);
    }
}
