.input-block{
    @apply relative;
    .input {
        height: 58px;
        padding-top: 30px;
        @apply w-full text-base text-black_4 rounded-lg border-black_1 px-4 shadow-none;
        &::placeholder{
            @apply text-black_2;
        }
        &:focus{
            outline: none;
            --tw-ring-offset-width: 0px;
            box-shadow: none;
            @apply focus:border-primary #{!important};
        }
        &.fill{
            @apply border-black_4;
        }
    }
    &:focus-within{
        label{
            @apply text-primary;
        }
    }
    &.error{
        .input {
            @apply border-dangers;
        }
        .label{
            @apply text-dangers;
        }
    }
    .label {
        @apply absolute left-4 top-2 text-black_4 text-xs;
    }
    .error{
        @apply absolute text-xs text-dangers;
        bottom: -18px;
    }
}

.chat-textarea{
    @apply w-full text-sm text-gray_1 rounded-2xl border-dark border-opacity-10 py-4 px-5 resize-none shadow-none;
    &:focus{
        outline: none;
        --tw-ring-offset-width: 0px;
        box-shadow: none;
        @apply focus:border-dark focus:border-opacity-10 #{!important};
    }
    &::placeholder{
        @apply text-dark text-opacity-10;
    }
}

