@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-body: 247, 249, 251;
    --color-default: 28, 28, 28;
    --color-dark: 0, 0, 0;

    --color-black: 28, 28, 28;
    --color-black_1: 207, 211, 212;
    --color-black_2: 171, 175, 177;
    --color-black_4: 94, 99, 102;
    --color-black_5: 43, 47, 50;
    --color-primary: 85, 112, 241;

    --color-secondary-blue: 28, 28, 28;
    --color-primary-light: 247, 249, 251;
    --color-primary-purple: 229, 236, 246;
    --color-green_1: 33, 150, 83;
    --color-green_2: 39, 174, 96;

    --color-gray_1: 51, 51, 51;
    --color-gray_3: 130, 130, 130;
    --color-gray_4: 189, 189, 189;
    --color-gray_5: 224, 224, 224;
    --color-blue_1: 47, 128, 237;

    --color-danger: 245, 126, 119;
    --color-red: 235, 87, 87;
    --color-primary_green: 227, 255, 228;
    --color-primary_red: 246, 229, 229;
    --color-primary_blue: 229, 236, 244;
}

@import 'font';
@import 'input';
@import 'button';
@import 'auth';
@import 'helpers';
@import 'flash_messages';
